<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="BizportalsUtility.Listeners" />
	</listeners>
	<parameter name="login" value="admin@m365x23949637.onmicrosoft.com"></parameter>
	<parameter name="password" value="Batch@123"></parameter>
	<test thread-count="5" name="Login Check">
		<classes>
			<class name="Bizportals.TestCases.TestWebPartConfiguration" />
			<class name="Bizportals.TestCases.TestLoginFunctionality" />
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Quick Links">
		<classes>

			<class name="Bizportals.TestCases.QuickLinks.QuickLinksTestCases" />

		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Bizportals Chat">
		<classes>

			<class name="Bizportals.TestCases.BizportalsChat.WebpartCRUD" />

		</classes>
	</test>
	<test thread-count="5" name="Bizportals Headliners">
		<classes>

			<class
				name="Bizportals.TestCases.WebPartsTestCases.TestBizportalsHeadliner" />

		</classes>
	</test>
	<test thread-count="5" name="Bizportals Spotlight">
		<classes>

			<class name="Bizportals.TestCases.BizportalsSpotlight.WebpartCRUD" />

		</classes>
	</test>
</suite> <!--
Suite -->
